
<main class ="home-page container-fluid">
  <div class = "row whole-screen">

    <div class="left-panel col-md-3">
      <div class = "left-panel-header">
        <div>
          <h3 class="col-sm-5 left-buffer">Bloc Chat</h3>
          <button class ="col-sm-4 btn btn-default top-buffer" ng-click = "home.open()">New Room</button>
        </div>
      </div>

        <ul class = "row col-sm-8 col-sm-offset-1 no-bullets">
          <li ng-repeat="room in home.Rooms">
            <a href="#" ng-click="home.setActiveRoom(room); home.getByRoomId(room.$id)">{{room.room}}</a>
          </li>
        </ul>

    </div>

    <div class="chatroom-view col-md-9"  ng-show="home.activeRoom.room">
        <h3>{{ home.activeRoom.room }}</h1>
        <div class="message-container">
          <div class="chat-view-message" ng-repeat="message in home.messages">
              <span class="chat-message-user"><b>{{ message.username }}</b></span>
              <span class="chat-message-time"><i>{{ message.sentAt | date:'short' }}</i></span>
              <span class="chat-message-content">{{ message.content }}</span>
          </div>
          <div class="chat-controls">
              <input type="text" ng-model="home.messageInput" class="form-control" >
              <button type="button" class="btn btn-default" ng-click="home.newMessage(messageInput)">Submit</button>
          </div>
        </div>
    </div>

    <div class="col-md-9" ng-hide="home.activeRoom.room">
      <h3>Select a Room to start messaging!</h3>
    </div>

    </div>

</main>
