<div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Set a username</h3>
    </div>

    <div class="modal-body" id="modal-body">
      <h4 class="modal-body-directive" id="modal-body-directive">The name will appear when you send messages</h4>
        <div class="form-group">
          <input type="text" name="newRoomName" ng-model="name" class="form-control" >
        </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="usernameControl.submit(name)">Set username</button>
    </div>

</div>
